.grid,
.grid *:not(img, .small-picture, .product-list-item, .product-list, .product-list-item a),
.grid *::before,
.grid *::after {
    border: 1px solid #000;
    box-sizing: border-box !important;
}

.grid .pagination-list, .pagination-list li {
    border: 1px solid #000;
}

.grid .main-footer,
.grid .main-footer * {
    border-color: #000;
}
