.range {
    margin: var(--section-padding) 0;
}

.range .container .strap-header {
    position: relative;
}

.range .container .strap-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
}

.range .container .strap-header a {
    position: absolute;
    top: 25px;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #444240;
}

.range .container .strap-header a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    background-color: #8B8371;
    height: 1px;
}

.range .container .range-catalog {
    margin-top: 50px;
    position: relative;
    border-color: red;
}

.range .container .product-list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.range .container .product-list a {
    color: #444240;
}

.range .container .product-list li:hover {
    transform: translateY(-5px);
}

.range .container .product-list .product-list-item {
    position: relative;
    border: 1px solid;
    background-color: #edede7;
    transition-duration: 200ms;
    transition-property: transform;
}

.range .container .product-list .product-info {
    position: absolute;
    transform: translate(20px, 20px);
}


.range .container .product-list .product-info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform:uppercase;
}

.range .container .product-list .product-info b {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #636261;
}

.range .container .range-catalog button {
    position: absolute;
    height: 23px;
    width: 23px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.range .container .range-catalog button:nth-child(1) {
    /* transform: translate(-60px, 175px); */
    left: -38px;
    background-image: url(../../../img/icons/strap-arrow-left.svg);
}

.range .container .range-catalog button:nth-child(3) {
    /* transform: translate(1199px, 175px); */
    right: -38px;
    background-image: url(../../../img/icons/straps-arrow-right.svg);
}
