.about {
    margin: var(--section-padding) 0;
    padding-top: 37px;
    background-image:
        linear-gradient(
            90deg,
            rgba(247, 245, 239, 1) 38%,
            rgba(244, 244, 244, 0.8) 38%
        );
}

.about .container {
    display: flex;
    flex-direction: row;
}

.about .container .col:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.about .container .col:nth-child(1) .slider-control {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 53px;
    margin-right: 83px;
}

.about .container .col:nth-child(2) {
    margin-left: 69px;
}

.about .container .col:nth-child(2) h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 125px;
}

.about .container .col:nth-child(2) p {
    font-family: 'Robot', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #444240;
    padding-top: 38px;
    width: 376px;
}

.about .container .col:nth-child(2) a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    font-family: 'Robot', serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 205px;
    height: 64px;
    background-color: #D4B098;
}


.about .container .col:nth-child(1) .slider-control button {
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.about .container .col:nth-child(1) .slider-control .prev-btn {
    background-image: url(../../../img/icons/arrow-left.svg);
}

.about .container .col:nth-child(1) .slider-control .next-btn {
    background-image: url(../../../img/icons/arrow-right.svg);
}
